
.vs/RightOnBoard.Survey/v15/.suo
.vs/RightOnBoard.Survey/v15/Server/sqlite3/storage.ide
.vs/RightOnBoard.Survey/v15/Server/sqlite3/storage.ide-shm
.vs/RightOnBoard.Survey/v15/Server/sqlite3/storage.ide-wal
obj/Debug/docker-compose.dcproj.FileListAbsolute.txt
obj/Docker/docker-compose.vs.debug.g.yml
obj/Docker/docker-compose.vs.debug.partial.g.yml
obj/Docker/docker-compose.vs.release.g.yml
obj/Docker/docker-compose.vs.release.partial.g.yml
RightOnBoard.Survey.Api/bin/Debug/netcoreapp2.0/RightOnBoard.Survey.Api.dll
RightOnBoard.Survey.Api/bin/Debug/netcoreapp2.0/RightOnBoard.Survey.Api.pdb
RightOnBoard.Survey.Api/bin/Debug/netcoreapp2.0/RightOnBoard.Survey.Services.dll
RightOnBoard.Survey.Api/bin/Debug/netcoreapp2.0/RightOnBoard.Survey.Services.pdb
RightOnBoard.Survey.Api/obj/Debug/netcoreapp2.0/RightOnBoard.Survey.Api.csproj.FileListAbsolute.txt
RightOnBoard.Survey.Api/obj/Debug/netcoreapp2.0/RightOnBoard.Survey.Api.csprojResolveAssemblyReference.cache
RightOnBoard.Survey.Api/obj/Debug/netcoreapp2.0/RightOnBoard.Survey.Api.dll
RightOnBoard.Survey.Api/obj/Debug/netcoreapp2.0/RightOnBoard.Survey.Api.pdb
RightOnBoard.Survey.Data/obj/Debug/netcoreapp2.0/RightOnBoard.Survey.Data.csproj.FileListAbsolute.txt
RightOnBoard.Survey.Data/obj/Debug/netcoreapp2.0/RightOnBoard.Survey.Data.csprojResolveAssemblyReference.cache
RightOnBoard.Survey.Services/bin/Debug/netcoreapp2.0/RightOnBoard.Survey.Services.dll
RightOnBoard.Survey.Services/bin/Debug/netcoreapp2.0/RightOnBoard.Survey.Services.pdb
RightOnBoard.Survey.Services/obj/Debug/netcoreapp2.0/RightOnBoard.Survey.Services.pdb
RightOnBoard.Survey.Services/obj/Debug/netcoreapp2.0/RightOnBoard.Survey.Services.dll
RightOnBoard.Survey.Services/obj/Debug/netcoreapp2.0/RightOnBoard.Survey.Services.csprojResolveAssemblyReference.cache
RightOnBoard.Survey.Services/obj/Debug/netcoreapp2.0/RightOnBoard.Survey.Services.csproj.FileListAbsolute.txt
